.tagCloudContainer{
    display: inline-flex;
    flex-direction: row;
}

.tagElement0{
    border: 1px solid black;
    background-color: lightslategray;
    margin: 5px;
    padding: 5px;
}
.tagElement1{
    border: 1px solid black;
    background-color: rgb(212, 184, 20);
    margin: 5px;
    padding: 5px;
}